In [29]:
pip install pandas as pd # biblioteca para criação gráficos

Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip
ERROR: Invalid requirement: '#': Expected package name at the start of dependency specifier
    #
    ^

In [ ]:
pip install matplotlib as mp # para criar gráficos

Collecting matplotlib
  Downloading matplotlib-3.9.3-cp313-cp313-win_amd64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.3.1-cp313-cp313-win_amd64.whl.metadata (5.4 kB)
Collecting cycler>=0.10 (from matplotlib)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.55.0-cp313-cp313-win_amd64.whl.metadata (167 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Downloading kiwisolver-1.4.7-cp313-cp313-win_amd64.whl.metadata (6.4 kB)
Requirement already satisfied: numpy>=1.23 in c:\users\instrutor\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (2.1.3)
Requirement already satisfied: packaging>=20.0 in c:\users\instrutor\appdata\roaming\python\python313\site-packages (from matplotlib) (24.2)
Collecting pillow>=8 (from matplotlib)
  Downloading pillow-11.0.0-cp313-cp313-win_amd64.whl.metadata (9.3 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Downloading pyparsing-3.2.0-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\instrutor\appdata\roaming\python\python313\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\instrutor\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Downloading matplotlib-3.9.3-cp313-cp313-win_amd64.whl (7.8 MB)
   ---------------------------------------- 0.0/7.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/7.8 MB ? eta -:--:--
   -- ------------------------------------- 0.5/7.8 MB 1.3 MB/s eta 0:00:06
   -- ------------------------------------- 0.5/7.8 MB 1.3 MB/s eta 0:00:06
   ---- ----------------------------------- 0.8/7.8 MB 1.3 MB/s eta 0:00:06
   ----- ---------------------------------- 1.0/7.8 MB 1.2 MB/s eta 0:00:06
   ------ --------------------------------- 1.3/7.8 MB 1.2 MB/s eta 0:00:06
   -------- ------------------------------- 1.6/7.8 MB 1.1 MB/s eta 0:00:06
   --------- ------------------------------ 1.8/7.8 MB 1.1 MB/s eta 0:00:06
   ---------- ----------------------------- 2.1/7.8 MB 1.1 MB/s eta 0:00:06
   ------------ --------------------------- 2.4/7.8 MB 1.1 MB/s eta 0:00:05
   ------------- -------------------------- 2.6/7.8 MB 1.1 MB/s eta 0:00:05
   -------------- ------------------------- 2.9/7.8 MB 1.1 MB/s eta 0:00:05
   ---------------- ----------------------- 3.1/7.8 MB 1.1 MB/s eta 0:00:05
   ----------------- ---------------------- 3.4/7.8 MB 1.1 MB/s eta 0:00:04
   ----------------- ---------------------- 3.4/7.8 MB 1.1 MB/s eta 0:00:04
   ------------------ --------------------- 3.7/7.8 MB 1.1 MB/s eta 0:00:04
   -------------------- ------------------- 3.9/7.8 MB 1.1 MB/s eta 0:00:04
   --------------------- ------------------ 4.2/7.8 MB 1.1 MB/s eta 0:00:04
   ---------------------- ----------------- 4.5/7.8 MB 1.1 MB/s eta 0:00:04
   ------------------------ --------------- 4.7/7.8 MB 1.1 MB/s eta 0:00:03
   ------------------------- -------------- 5.0/7.8 MB 1.1 MB/s eta 0:00:03
   -------------------------- ------------- 5.2/7.8 MB 1.1 MB/s eta 0:00:03
   ---------------------------- ----------- 5.5/7.8 MB 1.1 MB/s eta 0:00:03
   ----------------------------- ---------- 5.8/7.8 MB 1.1 MB/s eta 0:00:02
   ------------------------------ --------- 6.0/7.8 MB 1.1 MB/s eta 0:00:02
   ------------------------------ --------- 6.0/7.8 MB 1.1 MB/s eta 0:00:02
   -------------------------------- ------- 6.3/7.8 MB 1.1 MB/s eta 0:00:02
   --------------------------------- ------ 6.6/7.8 MB 1.1 MB/s eta 0:00:02
   ---------------------------------- ----- 6.8/7.8 MB 1.1 MB/s eta 0:00:01
   ------------------------------------ --- 7.1/7.8 MB 1.1 MB/s eta 0:00:01
   ------------------------------------- -- 7.3/7.8 MB 1.1 MB/s eta 0:00:01
   -------------------------------------- - 7.6/7.8 MB 1.1 MB/s eta 0:00:01
   -------------------------------------- - 7.6/7.8 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------- 7.8/7.8 MB 1.1 MB/s eta 0:00:00
Downloading contourpy-1.3.1-cp313-cp313-win_amd64.whl (220 kB)
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.55.0-cp313-cp313-win_amd64.whl (2.2 MB)
   ---------------------------------------- 0.0/2.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.2 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.2 MB ? eta -:--:--
   --------- ------------------------------ 0.5/2.2 MB 1.4 MB/s eta 0:00:02
   -------------- ------------------------- 0.8/2.2 MB 1.3 MB/s eta 0:00:02
   ------------------- -------------------- 1.0/2.2 MB 1.3 MB/s eta 0:00:01
   ----------------------- ---------------- 1.3/2.2 MB 1.2 MB/s eta 0:00:01
   ---------------------------- ----------- 1.6/2.2 MB 1.2 MB/s eta 0:00:01
   --------------------------------- ------ 1.8/2.2 MB 1.2 MB/s eta 0:00:01
   -------------------------------------- - 2.1/2.2 MB 1.2 MB/s eta 0:00:01
   ---------------------------------------- 2.2/2.2 MB 1.2 MB/s eta 0:00:00
Downloading kiwisolver-1.4.7-cp313-cp313-win_amd64.whl (55 kB)
Downloading pillow-11.0.0-cp313-cp313-win_amd64.whl (2.6 MB)
   ---------------------------------------- 0.0/2.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.6 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.6 MB ? eta -:--:--
   -------- ------------------------------- 0.5/2.6 MB 1.3 MB/s eta 0:00:02
   ------------ --------------------------- 0.8/2.6 MB 1.2 MB/s eta 0:00:02
   ---------------- ----------------------- 1.0/2.6 MB 1.1 MB/s eta 0:00:02
   -------------------- ------------------- 1.3/2.6 MB 1.1 MB/s eta 0:00:02
   -------------------- ------------------- 1.3/2.6 MB 1.1 MB/s eta 0:00:02
   ------------------------ --------------- 1.6/2.6 MB 1.0 MB/s eta 0:00:01
   ---------------------------- ----------- 1.8/2.6 MB 1.0 MB/s eta 0:00:01
   -------------------------------- ------- 2.1/2.6 MB 1.0 MB/s eta 0:00:01
   ------------------------------------ --- 2.4/2.6 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------- 2.6/2.6 MB 1.1 MB/s eta 0:00:00
Downloading pyparsing-3.2.0-py3-none-any.whl (106 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.3.1 cycler-0.12.1 fonttools-4.55.0 kiwisolver-1.4.7 matplotlib-3.9.3 pillow-11.0.0 pyparsing-3.2.0
Note: you may need to restart the kernel to use updated packages.

  WARNING: The scripts fonttools.exe, pyftmerge.exe, pyftsubset.exe and ttx.exe are installed in 'c:\Users\Instrutor\AppData\Local\Programs\Python\Python313\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\instrutor\appdata\local\programs\python\python313\lib\site-packages (5.2.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [30]:
# importando biblioteca pyodbc
import pyodbc
import pandas as pd
import matplotlib 

# criando dados de conexão:
dados_conexao = (
    "Driver={SQL Server};" # conexão ao servidor
    "Server=NOTEBOOK-CAR-02;" # comando no cmd para achar o servidor hostname
    "Database=PythonSQL;" #nome do meu banco de dados
)

#conectando:
conexao = pyodbc.connect(dados_conexao) # procura no meu computador o banco de dados
print("Conexao Bem Sucedida")

Conexao Bem Sucedida

In [31]:
# incluido registro id =2

cursor = conexao.cursor() # Pedimos para fazer conexão

comando = """INSERT INTO Vendas (id_venda,data_venda,cliente,produto,preco,quantidade) 
VALUES  (2,'10/05/2022','Bruno', 'Notebook', 3500, 2),                                      
        (3,'11/05/2022','Bia', 'Televisão', 3000, 3),
        (4,'15/04/2022','Gabriela', 'Celular', 2500, 5)"""
# para inserção no banco de dados precisamos adicionar 3 aspas duplas INSERT INTO NOME DO BANCO(COLUNAS) FECHA AS ASPAS DUPLAS
cursor.execute(comando)

cursor.commit()

In [ ]:
# incluindo registro id = 4 (automatizando com variáveis)
cursor = conexao.cursor()

id = 4 #criamos um id
data = "17/06/2022" # precisa usar aspas duplas
cliente = "Diego"
produto = "Tablet"
preco = 1200
quantidade = 1

comando= f"""INSERT INTO Vendas(id_venda,data_venda,cliente,produto,preco,quantidade) VALUES
({id},'{data}', '{cliente}','{produto}', {preco}, {quantidade})""" # precisa usar aspas simples entre strings

cursor.execute(comando)
cursor.commit()

In [28]:
# importando biblioteca pyodbc
import pyodbc

# criando dados de conexão:
dados_conexao = (
    "Driver={SQL Server};" # conexão ao servidor
    "Server=NOTEBOOK-CAR-02;" # comando no cmd para achar o servidor hostname
    "Database=ContosoRetailDW;" #nome do meu banco de dados
)

#conectando:
logar = pyodbc.connect(dados_conexao) # procura no meu computador o banco de dados
print("Conexao Bem Sucedida")

Conexao Bem Sucedida

In [32]:
comando_sql= "SELECT ColorName, UnitPrice FROM DimProduct"
dados = pd.read_sql(comando_sql, logar)
display(dados)

C:\Users\Instrutor\AppData\Local\Temp\ipykernel_18228\443336240.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dados = pd.read_sql(comando_sql, logar)

     ColorName  UnitPrice
0       Silver      12.99
1         Blue      12.99
2        White      14.52
3       Silver      21.57
4          Red      21.57
...        ...        ...
2512       Red     129.99
2513     White     129.99
2514     White       3.35
2515     Black       3.35
2516    Silver       3.35

[2517 rows x 2 columns]

In [33]:
comando_sql= "SELECT * FROM DimProduct"
dados = pd.read_sql(comando_sql, logar)
display(dados)

C:\Users\Instrutor\AppData\Local\Temp\ipykernel_18228\810661037.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dados = pd.read_sql(comando_sql, logar)

,ProductKey,ProductLabel,ProductName,ProductDescription,ProductSubcategoryKey,Manufacturer,BrandName,ClassID,ClassName,StyleID,...,UnitCost,UnitPrice,AvailableForSaleDate,StopSaleDate,Status,ImageURL,ProductURL,ETLLoadID,LoadDate,UpdateDate
0,1,0101001,Contoso 512MB MP3 Player E51 Silver,512MB USB driver plays MP3 and WMA,1,"Contoso, Ltd",Contoso,1,Economy,1,...,6.62,12.99,2005-05-03,None,On,None,None,1,2008-05-25 08:01:12,2008-05-25 08:01:12
1,2,0101002,Contoso 512MB MP3 Player E51 Blue,512MB USB driver plays MP3 and WMA,1,"Contoso, Ltd",Contoso,1,Economy,5,...,6.62,12.99,2005-05-03,None,On,None,None,1,2008-05-26 08:01:12,2008-05-26 08:01:12
2,3,0101003,Contoso 1G MP3 Player E100 White,1GB flash memory and USB driver plays MP3 and WMA,1,"Contoso, Ltd",Contoso,1,Economy,1,...,7.40,14.52,2006-05-13,None,On,None,None,1,2008-05-27 08:01:12,2008-05-27 08:01:12
3,4,0101004,Contoso 2G MP3 Player E200 Silver,"2GB flash memory, LCD display, plays MP3 and WMA",1,"Contoso, Ltd",Contoso,1,Economy,1,...,11.00,21.57,2006-12-16,None,On,None,None,1,2008-05-28 08:01:12,2008-05-28 08:01:12
4,5,0101005,Contoso 2G MP3 Player E200 Red,"2GB flash memory, LCD display, plays MP3 and WMA",1,"Contoso, Ltd",Contoso,1,Economy,1,...,11.00,21.57,2006-12-17,None,On,None,None,1,2008-05-29 08:01:12,2008-05-29 08:01:12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2512,2513,0505026,Contoso Bluetooth Active Headphones L15 Red,"Play time up to 6 hours, talk time up to 7 hou...",33,"Contoso, Ltd",Contoso,3,Deluxe,None,...,43.07,129.99,2009-01-02,None,On,None,None,1,2007-01-01 00:00:00,2007-01-01 00:00:00
2513,2514,0505027,Contoso Bluetooth Active Headphones L15 White,"Play time up to 6 hours, talk time up to 7 hou...",33,"Contoso, Ltd",Contoso,3,Deluxe,None,...,43.07,129.99,2009-01-02,None,On,None,None,1,2007-01-01 00:00:00,2007-01-01 00:00:00
2514,2515,0505028,Contoso In-Line Coupler E180 White,"Designed for new modular, different location w...",33,"Contoso, Ltd",Contoso,1,Economy,None,...,1.71,3.35,2006-07-28,None,On,None,None,1,2007-01-01 00:00:00,2007-01-01 00:00:00
2515,2516,0505029,Contoso In-Line Coupler E180 Black,"Designed for new modular, different location w...",33,"Contoso, Ltd",Contoso,1,Economy,None,...,1.71,3.35,2006-07-28,None,On,None,None,1,2007-01-01 00:00:00,2007-01-01 00:00:00
2516,2517,0505030,Contoso In-Line Coupler E180 Silver,"Designed for new modular, different location w...",33,"Contoso, Ltd",Contoso,1,Economy,None,...,1.71,3.35,2006-07-28,None,On,None,None,1,2007-01-01 00:00:00,2007-01-01 00:00:00

In [34]:
dados.groupby('ColorName').count()

,ProductKey,ProductLabel,ProductName,ProductDescription,ProductSubcategoryKey,Manufacturer,BrandName,ClassID,ClassName,StyleID,...,UnitCost,UnitPrice,AvailableForSaleDate,StopSaleDate,Status,ImageURL,ProductURL,ETLLoadID,LoadDate,UpdateDate
ColorName,,,,,,,,,,,,,,,,,,,,,
Azure,14,14,14,14,14,14,14,14,14,14,...,14,14,14,0,14,0,0,14,14,14
Black,602,602,602,602,602,602,602,602,602,594,...,602,602,601,0,529,0,0,602,602,602
Blue,197,197,197,196,197,197,197,197,197,197,...,197,197,197,0,169,0,0,197,197,197
Brown,77,77,77,77,77,77,77,77,77,77,...,77,77,77,0,77,0,0,77,77,77
Gold,50,50,50,50,50,50,50,50,50,50,...,50,50,50,0,38,0,0,50,50,50
Green,74,74,74,74,74,74,74,74,74,74,...,74,74,74,0,70,0,0,74,74,74
Grey,283,283,283,283,283,283,283,283,283,283,...,283,283,283,0,221,0,0,283,283,283
Orange,55,55,55,55,55,55,55,55,55,55,...,55,55,55,0,32,0,0,55,55,55
Pink,84,84,84,84,84,84,84,84,84,82,...,84,84,84,0,72,0,0,84,84,84
Purple,6,6,6,6,6,6,6,6,6,6,...,6,6,6,0,6,0,0,6,6,6
Red,99,99,99,99,99,99,99,99,99,96,...,99,99,99,0,99,0,0,99,99,99
Silver,417,417,417,417,417,417,417,417,417,410,...,417,417,417,0,405,0,0,417,417,417
Silver Grey,14,14,14,14,14,14,14,14,14,14,...,14,14,14,0,2,0,0,14,14,14
Transparent,1,1,1,1,1,1,1,1,1,0,...,1,1,1,0,1,0,0,1,1,1
White,505,505,505,505,505,505,505,505,505,496,...,505,505,505,0,448,0,0,505,505,505
Yellow,36,36,36,36,36,36,36,36,36,36,...,36,36,36,0,36,0,0,36,36,36
blue,3,3,3,3,3,3,3,3,3,3,...,3,3,3,0,3,0,0,3,3,3